<section class="panel">
  <h2>Meal Prep</h2>
  <div class="row">
    <label>Sessions/week</label>
    <input
      type="number"
      [(ngModel)]="mealPrep.sessionsPerWeek"
      min="1"
      max="7"
      (change)="onConfigChanged()"
    />
  </div>
  <div class="row">
    <label>Duration (min)</label>
    <input
      type="number"
      [(ngModel)]="mealPrep.duration"
      min="30"
      step="15"
      (change)="onConfigChanged()"
    />
  </div>

  <div
    id="mealprep-palette"
    class="palette"
    cdkDropList
    [cdkDropListConnectedTo]="dayDropListIds"
    [cdkDropListSortingDisabled]="true"
  >
    <article cdkDrag [cdkDragData]="createDragData(mealPrep.duration)">
      <strong>Meal Prep Session</strong>
      <span>{{ mealPrep.duration }} min</span>
    </article>
  </div>
</section>
